{% extends 'layout.html.twig' %}
    {% block bggray %}
        <section class="popular-deals section bg-gray">
    <div class="container">
        <div class="card w-50 mx-auto">
            <div class="row card-body">
                <div class="col">
                    <h2>Inscription</h2>
                    <!--
                    <form action="/action_page.php">
                       <div class="form-group col-lg-12">
                           <label for="pseudo">Pseudo</label>
                           <input class="form-control" autocomplete="off" type="text" id="pseudo" placeholder="Encodez votre pseudo">
                         </div>
                        <div class="form-group col-lg-12">
                           <label for="email">E-mail</label>
                           <input type="email" class="form-control" id="email" placeholder="Encodez votre email">
                         </div>
                        <div class="form-group col-lg-12">
                           <label for="nom">Nom</label>
                           <input type="text" class="form-control" id="nom" placeholder="Encodez votre nom">
                         </div>
                        <div class="form-group col-lg-12">
                           <label for="prenom">Prénom</label>
                           <input type="text" class="form-control" id="prenom" placeholder="Encodez votre prénom">
                         </div>
                        <div class="form-group col-lg-12">
                           <label for="password">Mot-de-passe</label>
                           <input type="password" class="form-control"  id="password" placeholder="Encodez votre mot-de-passe">
                         </div>
                        <div class="form-group col-lg-12">
                           <label for="password2">Confirmez votre mot-de-passe</label>
                           <input type="password" class="form-control"  id="password2" placeholder="Confirmez votre mot-de-passe">
                         </div>
                         <div class="form-group col-lg-12">
                           <label for="exampleFormControlFile1">Photo de profil (optionel)</label>
                              <input type="file" class="form-control-file" id="exampleFormControlFile1">
                         </div>
                        <button type="submit" class="btn btn-primary float-left">Submit</button>
                    </form>
                   
                    <form action="index.html">
                        <button type="submit" class="btn btn-primary float-right">Return</button>
                    </form>
                     -->
                 {{form_start(form)}}
                    <div class="form-group col-lg-12">{{form_row(form.email, {'attr': {'class': 'form-control'}})}}</div>
                    <div class="form-group col-lg-12">{{form_row(form.username, {'attr': {'class': 'form-control'}})}}</div>
                    <div class="form-group col-lg-12">{{form_row(form.nom, {'attr': {'class': 'form-control'}})}}</div>
                    <div class="form-group col-lg-12">{{form_row(form.prenom, {'attr': {'class': 'form-control'}})}}</div>
                    <div class="form-group col-lg-12">{{form_row(form.password, {'attr': {'class': 'form-control'}})}}</div>
                    
                    <div class="form-group col-lg-12">{{form_row(form.photo, {'label' : 'photo (optionel)','attr': {'class': 'form-control-file'}})}}</div>
                    <div>{{form_row(form.submit, {'attr': {'class': 'btn btn-primary float-left'}})}}</div>
                {{form_end(form)}}
                    <button type="submit" class="btn btn-primary float-right">Return</button>


                </div>
                
                
                
            </div>
            </div>
        </div>
</section>
    
    {% endblock %}
