{% extends 'layout.html.twig' %}

    {% block bggray %}
          <section class="popular-deals section bg-gray">
    <div class="container">
        <h1 class="text-center">Login</h1>
        <div class="card w-50 mx-auto">
            <div class="row card-body">
                <div class="col">
                  <div>
               
                   <div>
                       <form action="{{path('security_login')}}" method="post">
                            <div class="form-group">
                                <input placeholder="Votre adresse email" required name="_username" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <input placeholder="Votre mot de passe" required name="_password" type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Connexion!</button>
                            </div>


                        </form>
                   </div>

                  </div>
                </div>  
                   
            </div>
                   <a class="btn btn-main mt-4" href="{{ path('home') }}">Retour menu</a>
        </div>
                 
    </div>
    </section>
      
        
        
    {%endblock%}
   