{% extends 'layout.html.twig' %}

{% block bggray %}
    <section class="popular-deals section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-title">
                        <h2>Description voiture</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- offer 01 -->

                <div class="col-sm-12 col-lg-12">
                    <!-- product card -->
                    <div class="product-item bg-light">
                        <div class="card">
                            <div class="thumb-content">


                                    <img class="img-thumbnail float-left mr-5" src="uploads/photo/{{voiture.photo}} " alt="Card image cap">

                                <div class="card-body">
                                    <h4 class="card-title "><a href="">{{voiture.nom}}</a></h4>

                                    <p class="card-text">Description de la voiture toyota corolla</p>
                                    <div class=" float-left mr-4">
                                        <h4 class="card-title"><a href="">Catégorie</a></h4>
                                        <p>{{voiture.categorie}}</p>

                                    </div>
                                    <div>
                                        <h4 class="card-title"><a href="">Marque</a></h4>
                                        <p>{{voiture.marque}}</p>
                                    </div>
                                    <div class=" float-left mr-5">
                                        <h4 class="card-title"><a href="">Modèle</a></h4>
                                        <p>{{voiture.modele}}</p>
                                    </div>
                                    <div>
                                        <h4 class="card-title"><a href="">Porte</a></h4>
                                        <p>{{voiture.portes}} portes</p>
                                    </div>
                                    <div class="product-ratings mt-5">
                                        <h4 class="card-title"><a href="">Cote </a></h4>
                                        
                                        <ul class="list-inline">
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>

                                </div>
                                    
                            </div>
                           {% if app.user%}
                            <a class="btn btn-outline-info" href="{{ path('post',{id: voiture.id}) }}" role="button">Poster un commentaire</a>
                            <!--<button type="button" class="btn btn-outline-info">Poster un commentaire</button>-->
                                    {% else%}
                                        <a class="btn btn-outline-info" href="{{ path('security_login')}}" role="button">Vous voulez poster un commentaire ? Connectez-vous</a>
                            {% endif%}
                        </div>

                    </div>



                </div>



            </div>
            <a class="btn btn-outline-secondary" href="{{ path('search') }}">Retour</a>
        </div>

    </section>
{% endblock %}
{% block white %}
    <!--==========================================
    =            All Comments Section            =
    ===========================================-->

    <section class=" section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Commentaires</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- offer 01 -->
                <div class="col-sm-12 col-lg-12">
                    <!-- product card -->
                    <div class="product-item bg-light">
             
                  
                    {%for commentaire in commentaires%}
                        <div class="product-item bg-light">
                            <div class="card mh-card">
                                <div class="thumb-content">
                                    <!-- <div class="price">$200</div> -->
                                    <a href="{{ path("profileuser",{id: commentaire.user.id}) }}">
                                        <img class="float-left mr-5 rounded-circle wm-com" src="uploads/photo/{{ commentaire.user.photo }}" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title"><a class="px-3">{{ commentaire.user.username }}</a></h4>


                                        <div class="float-left col-4 mr-2">
                                            <h4 class="card-title"><a href="">Commentaire</a></h4>
                                            <p>{{ commentaire.commentaire }}</p>

                                        </div>
                                        <div class="float-left col-4">
                                            <h4 class="card-title"><a>Avis positif</a></h4>
                                            <p class="text-success">{{ commentaire.pointPositif }}</p>
                                        </div>
                                        <div class=" float-left col-4">
                                            <h4 class="card-title"><a>Avis négatif</a></h4>
                                            <p class="text-danger">{{ commentaire.pointNegatif }}</p>
                                        </div>
                                        <div class="product-ratings position-absolute display-rate float-left">
                                            <h4 class="card-title"><a>Cote </a></h4>
                                            {% include '/includes/cote.html.twig' %}
                                        </div>

                                    </div>
                                </div>
                              {% if app.user%}
                                <button type="button" class="btn btn-outline-danger position-absolute display-report-button">Signaler</button>
                                {% endif %}

                            </div>
                        </div>
                    {%endfor%}




                </div>



            </div>
        </div>

    </section>
{% endblock %}