{% extends 'layout.html.twig' %}

{% block bggray %}
    <section class="popular-deals section bg-gray">
        <div class="container">
            <div class="card">
                <div class="row card-body">
                    <div class="col">
                        <h2>Login</h2>
                        <form action="/action_page.php">
                            <div class="">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="col">
                        <h2>Inscription</h2>
                        
                            <div>
                                <label for="email">Vous n'avez pas encore un compte ?</label>
                            </div>
                        <a class="btn btn-primary" href="{{ path('inscription') }}" role="button">Inscritption</a>
          
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
