{% extends 'layout.html.twig' %}

{% block bggray %}

    {% if app.user %}
        <section class="popular-deals section bg-gray">
    <div class="container">
        <h1 class="text-center">Contactez un administrateur</h1>
        <div class="card w-50 mx-auto">
            <div class="row card-body">
                <div class="col">
                  <div>
                   

                   <div>Vous êtes connecté en tant que <a class="text-success">{{ app.user.username }}</a></div>

                   <div>
                       {{ form_start(contactform) }}

                       {{ form_widget(contactform.name, {value : app.user.username, 'type': 'hidden'}) }}
                       {{ form_widget(contactform.message, {'attr': {'placeholder': "Votre message",'class': 'form-control'}}) }}

                       <button type="submit" class="btn btn-success mt-4">Envoyer</button>

                       {{ form_end(contactform) }}
                   </div>

                  </div>
                </div>  
                   
            </div>
                   <a class="btn btn-main mt-4" href="{{ path('home') }}">Retour menu</a>
        </div>
                 
    </div>
    </section>
     {% else%}
          <section class="popular-deals section bg-gray">
    <div class="container">
        <h1 class="text-center">Contactez un administrateur</h1>
        <div class="card w-50 mx-auto">
            <div class="row card-body">
                <div class="col">
                  <div>
                   

                   <div>Vous devez être connecté pour commenter </div>

                   <div>
                        <a class="btn btn-main mt-4" href="{{ path('security_login') }}">Se connecter</a>
                   </div>

                  </div>
                </div>  
                   
            </div>
                   <a class="btn btn-main mt-4" href="{{ path('home') }}">Retour menu</a>
        </div>
                 
    </div>
    </section>
 {% endif %}
{% endblock %}