{% extends 'layout.html.twig' %}

{% block heroareacontent %}
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>Bienvenue sur Marcicars</h1>
                    <p>Rejoignez la communauté de Marcicars en partageant votre avis sur  les différents modèles de voitures</p>

                </div>
                {% include '/includes/search-bar.html.twig' %}


            </div>
        </div>
    </div>
    <!-- Container End -->
{% endblock %}
{% block bggray %}
<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Dernières voitures</h2>

                </div>
            </div>
        </div>
        <div class="row">
           {%for voiture in voitures%}
              <div class="col-sm-12 col-lg-4">
                <!-- product card -->
                <div class="product-item bg-light">
                    <div class="card h-325">
                        <div class="thumb-content">
                            <!-- <div class="price">$200</div> -->
                            <a href="{{ path("carPage",{id: voiture.id})  }}">
                                <img class="card-img-top img-fluid" src="uploads/photo/{{ voiture.photo }}" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ voiture.nom }}</h4>

                            <p class="card-text">Cliquez sur l'image pour voir la description détaillées</p>
                        </div>
                    </div>
                </div>
            </div>
               
           {%endfor%}
           
   

        </div>
    </div>
</section>
{% endblock %}
{% block white %}
<!--==========================================
=            All Comments Section            =
===========================================-->

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Derniers commentaires</h2>

                </div>
            </div>
        </div>
        <div class="row">
            {%for commentaire in commentaires%}
                <div class="col-sm-12 col-lg-4">
                <!-- product card -->
                <div  class="product-item bg-light">
                    <div class="card mh-520">
                        <div class="thumb-content">
                            <!-- <div class="price">$200</div> -->
                            <a href="{{ path("carPage",{id:commentaire.voiture.id})  }}">
                                <img class="card-img-top img-fluid" src="uploads/photo/{{ commentaire.voiture.photo }}" alt="Card image cap">
                            </a>
                        </div>
                        <div class="min-height-comment card-body">
                            <h3 class="card-title"><a>{{commentaire.voiture.nom}}</a></h3>
                            <h4 class="card-title"><a >Avis positif</a></h4>
                            <p class="text-success">{{commentaire.pointPositif}}</p>
                            <h4 class="card-title"><a>Avis négatif</a></h4>
                            <p class="text-danger">{{commentaire.pointNegatif}}</p>
                            <div class="stars-position-home product-ratings">
                                {% include '/includes/cote.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            {%endfor%}
        </div>
    </div>
    <!-- Container End -->
</section>
{% endblock %}