{% extends 'layout.html.twig' %}

{% block bggray %}
    {% if app.user %}

            <section class="popular-deals section bg-gray">
    <div class="container">
        <div class="container">
            <div class="card">
                <div class="row card-body">
                    <div class="col text-center">
                        <h2>{{ app.user.username }}</h2>
                        <img class="img-thumbnail w-50 rounded-circle" src="../uploads/photo/{{ app.user.photo }}" alt="Card image cap">
                    </div>
                    <div class="col float-sm-left">
                        <div class="mt-5">
                            {{form_start(form)}}
                                    {{form_row(form.username, {'attr': {'class': 'form-control'}})}}
                                    {{form_row(form.nom, {'attr': {'class': 'form-control'}})}}
                                    {{form_row(form.prenom, {'attr': {'class': 'form-control'}})}}
                                    {{form_row(form.email, {'attr': {'class': 'form-control'}})}}
                                    
                             {{form_end(form)}}
                            
                        </div>
                        
                    </div>
                </div>
              
                <a class="btn btn-outline-info mt-3" href="{{ path("myprofil")}}" role="button">Retour</a>
                
            </div>
                            
        </div>
                            
    </div>
</section>
    {%endif%}
{% endblock %}
