{% extends 'layout.html.twig' %}


{% block bggray %}
    <section class="popular-deals section bg-gray">
    <div class="container">
        <div class="container">
            <div class="card">
                <div class="row card-body">
                    <div class="col text-center">
                        <h2>{{ user.username }}</h2>
                        <img class="img-thumbnail w-50 rounded-circle" src="../uploads/photo/{{ user.photo }}" alt="Card image cap">
                    </div>
                    <div class="col float-sm-left">
                        <div class="mt-5">
                            <span class="d-block"><strong>Nom : </strong><a>{{ user.nom }}</a></span>
                            <span class="d-block"><strong>Prenom : </strong><a>{{ user.prenom }}</a></span>
                            <span class="d-block"><strong>Email : </strong><a>{{ user.email }}</a></span>
                        </div>
                        <div class="mt-xl-5 position-absolute bottom-0">
                            <span><strong>Nombre de commentaires posté : </strong> {{ user.commentaire|length }}</span>
                           <!-- <span><strong>Note moyenne : </strong>3/5</span>-->
                        </div>
                    </div>
                </div>


            </div>
            <a class="btn btn-outline-secondary" href="{{ path("home")}}">Retour menu</a>
        </div>
    </div>
    </section>
{% endblock %}
{% block white %}
  <section class=" section">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Commentaires</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">

                {%for commentaire in commentaires%}
                    <div class="product-item bg-light">
                        <div class="card mh-card">
                            <div class="thumb-content">
                                <!-- <div class="price">$200</div> -->
                                <a href="voiture-page.html">
                                    <img class="float-left mr-5  wm-com" src="../uploads/photo/{{ commentaire.voiture.photo }}" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title"><a class="px-3">{{ commentaire.voiture.nom }}</a></h4>


                                    <div class="float-left col-4 mr-2">
                                        <h4 class="card-title"><a>Commentaire</a></h4>
                                        <p>{{ commentaire.commentaire }}</p>

                                    </div>
                                    <div class="float-left col-4">
                                        <h4 class="card-title"><a>Avis positif</a></h4>
                                        <p class="text-success">{{ commentaire.pointPositif }}</p>
                                    </div>
                                    <div class=" float-left col-4">
                                        <h4 class="card-title"><a>Avis négatif</a></h4>
                                        <p class="text-danger">{{ commentaire.pointPositif }}</p>
                                    </div>
                                    <div class="product-ratings position-absolute display-rate float-left">
                                        <h4 class="card-title"><a>Cote </a></h4>
                                        {% include '/includes/cote.html.twig' %}
                                    </div>



                                </div>


                            </div>
                        
                        </div>
                    </div>
                   
                    <form method="post" action="{{ path("deletemycommentaire",{id: commentaire.id})}}">
                                
                                    <button  class="btn btn-danger display-bt-page">Supprimer</button>
                      </form>
                {%endfor%}

                 </div>
        </div>
    </div>

</section>
{% endblock %}