{% extends 'layout.html.twig' %}

{% block bggray %}
    {% if app.user %}

            <section class="popular-deals section bg-gray">
    <div class="container">
        <div class="container">
            <div class="card">
                <div class="row card-body">
                    <div class="col text-center">
                        <h2>{{ app.user.username }}</h2>
                        <img class="img-thumbnail w-50 rounded-circle" src="uploads/photo/{{ app.user.photo }}" alt="Card image cap">
                    </div>
                    <div class="col float-sm-left">
                        <div class="mt-5">
                            <span class="d-block"><strong>Pseudo : </strong><a>{{ app.user.username }}</a></span>
                            <span class="d-block"><strong>Nom : </strong><a>{{ app.user.nom }}</a></span>
                            <span class="d-block"><strong>Prenom : </strong><a>{{ app.user.prenom }}</a></span>
                            <span class="d-block"><strong>Email : </strong><a>{{ app.user.email }}</a></span>
                            
                        </div>
                        <div class="mt-xl-5 position-absolute bottom-0">
                            <span><strong>Nombre de commentaires posté : </strong> {{ app.user.commentaire|length }}</span>
                            <!--<span><strong>Note moyenne : </strong>3/5</span>-->
                        </div>
                    </div>
                </div>
                <a class="btn btn-outline-info mt-3" href="{{ path("myprofiledit",{id: app.user.id}) }}" role="button">Modiffier son profile</a>
                <a class="btn btn-outline-info mt-3" href="{{ path("userCommentaires",{id: app.user.id}) }}" role="button">Afficher les commentaires</a>
                <a class="btn btn-outline-info mt-3" href="{{ path("myprofildeletecom",{id: app.user.id}) }}" role="button">Supprimer un commentaires</a>
            </div>
                            
        </div>
                            
    </div>
</section>
    {%endif%}
{% endblock %}