{% extends 'layout.html.twig' %}


{% block bggray %}
    <section class="popular-deals section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-title">
                        <h2>Description voiture</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- offer 01 -->

                <div class="col-sm-12 col-lg-12">
                    <!-- product card -->
                    <div class="product-item bg-light">
                        <div class="card">
                            <div class="thumb-content">
                                <!-- <div class="price">$200</div> -->
                                <a href="">
                                    <img class="img-thumbnail float-left mr-5" src="assets/images/products/toyota-corolla-420.jpg " alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title "><a href="">Toyota-corolla</a></h4>

                                    <p class="card-text">Description de la voiture toyota corolla</p>
                                    <div class=" float-left mr-4">
                                        <h4 class="card-title"><a href="">Catégorie</a></h4>
                                        <p>SUV</p>

                                    </div>
                                    <div>
                                        <h4 class="card-title"><a href="">Marque</a></h4>
                                        <p>Toyota</p>
                                    </div>
                                    <div class=" float-left mr-5">
                                        <h4 class="card-title"><a href="">Modèle</a></h4>
                                        <p>Corolla</p>
                                    </div>
                                    <div>
                                        <h4 class="card-title"><a href="">Porte</a></h4>
                                        <p>5 portes</p>
                                    </div>
                                    <div class="product-ratings mt-5">
                                        <h4 class="card-title"><a href="">Cote </a></h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                            <!--<button type="button" class="btn btn-outline-info">Poster un commentaire</button>-->
                        </div>

                    </div>



                </div>



            </div>
            <a class="btn btn-outline-secondary" href="{{ path('home') }}">Retour menu</a>
        </div>

    </section>
{% endblock %}
{% block white %}
    <!--==========================================
    =            All Comments Section            =
    ===========================================-->

    <section class=" section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Postez votre commentaire</h2>
                    </div>
                </div>
            </div>
            <div class="block comment">
                <h4>Leave A Comment</h4>
               
                    {{form_start(comment)}}
                    <div class="form-group mb-30">{{form_row(comment.commentaire, {'attr': {'class': 'form-control textarea-post'}})}}</div>
                    <div class="form-group mb-30">{{form_row(comment.pointPositif, {'attr': {'class': 'form-control'}})}}</div>
                    <div class="form-group mb-30">{{form_row(comment.pointNegatif, {'attr': {'class': 'form-control'}})}}</div>
                    <div class="form-group mb-30">{{form_row(comment.cote, {'attr': {'class': 'form-control'}})}}</div>
                    <div>{{form_row(comment.submit, {'attr': {'class': 'btn btn-primary float-left'}})}}</div>
                
                     {{form_end(comment)}}
                   
                    
               
                     
            </div>
                   
            




        </div>

    </section>
{% endblock %}