{% extends 'layout.html.twig' %}

{% block bggray %}
<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="container">
            <div class="card">
                <div class="row card-body">
                    <div class="col text-center">
                        <h2>{{ user.username }}</h2>
                        <img class="img-thumbnail w-50 rounded-circle" src="uploads/photo/{{ user.photo }}" alt="Card image cap">
                    </div>
                    <div class="col float-sm-left">
                        <div class="mt-5">
                            <span class="d-block"><strong>Nom : </strong><a>{{ user.nom }}</a></span>
                            <span class="d-block"><strong>Prenom : </strong><a>{{ user.prenom }}</a></span>
                            <span class="d-block"><strong>Email : </strong><a>{{ user.email }}</a></span>
                        </div>
                        <div class="mt-xl-5 position-absolute bottom-0">
                            <span><strong>Nombre de commentaires posté : </strong> {{ user.commentaire|length }}</span>
                          
                        </div>
                    </div>
                </div>
                <a class="btn btn-outline-info" href="{{ path("userCommentaires",{id: user.id}) }}" role="button">Afficher les commentaires</a>
            </div>
        </div>
        <!--
        <div class="card mx-auto">
            <div class="row card-body">
                    <div class="thumb-content">

                        <div class="col">
                            <div class="col">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Anonymousdu45</h4>
                                </div>
                                <a href="">
                                    <img class="img-thumbnail float-left rounded-circle" src="images/user/anonymous.png" alt="Card image cap">
                                </a>

                            </div>
                            <div class="col">
                                test

                            </div>

                        </div>


                    </div>
                </div>
        </div>
        -->
    </div>
</section>
{% endblock %}