{% extends 'layout.html.twig' %}

{% block heroareacontent %}
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include '/includes/search-bar.html.twig' %}

            </div>
        </div>
    </div>
    <!-- Container End -->
{% endblock %}
{% block bggray %}
    <section class="popular-deals section bg-gray">
        <div class="container">
            <div class="col-md-10 offset-md-1 col-lg-10">

                <div class="widget dashboard-container my-adslist">
                    <h3 class="widget-header">Cars research</h3>
                    <table class="table table-responsive product-dashboard-table">
                        <thead>
                        <tr>
                            <th>Images</th>
                            <th class="text-center">Cars</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--
                        <tr>

                            <td class="product-thumb">
                                <img width="150px" height="auto" src="assets/images/products/toyota-corolla-420.jpg" alt="image description">
                            </td>
                            <td class="product-item product-details">
                                <h3 class="title text-center">Toyota-corolla</h3>
                                <span class="add-id"><strong>Marque:</strong>Toyota</span>
                                <span><strong>Modèle:</strong>Corolla </span>
                                <span><strong>Catégorie</strong>SUV</span>
                                <span><strong>Porte</strong>5 portes</span>
                                <span><strong>Cote</strong>

                            </span>
                                <div class="stars-details">
                                    <ul class="product-ratings list-inline">
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </td>

                            <td class="" data-title="Action">
                                <div class="text-center">

                                    <a class="btn btn-main" href="voiture-page.html">Go</a>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td class="product-thumb">
                                <img width="150px" height="auto" src="assets/images/products/toyota-corolla-420.jpg" alt="image description">
                            </td>
                            <td class="product-item product-details">
                                <h3 class="title text-center">Toyota-corolla</h3>
                                <span class="add-id"><strong>Marque:</strong>Toyota</span>
                                <span><strong>Modèle:</strong>Corolla </span>
                                <span><strong>Catégorie</strong>SUV</span>
                                <span><strong>Porte</strong>5 portes</span>
                                <span><strong>Cote</strong>
                                <div class="stars-details">
                                    <ul class="product-ratings list-inline">
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </span>
                            </td>

                            <td class="" data-title="Action">
                                <div class="text-center">

                                    <a class="btn btn-main" href="voiture-page.html">Go</a>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td class="product-thumb">
                                <img width="150px" height="auto" src="assets/images/products/toyota-corolla-420.jpg" alt="image description">
                            </td>
                            <td class="product-item product-details">
                                <h3 class="title text-center">Toyota-corolla</h3>
                                <span class="add-id"><strong>Marque:</strong>Toyota</span>
                                <span><strong>Modèle:</strong>Corolla </span>
                                <span><strong>Catégorie</strong>SUV</span>
                                <span><strong>Porte</strong>5 portes</span>
                                <span><strong>Cote</strong>
                                <div class="stars-details">
                                    <ul class="product-ratings list-inline">
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </span>
                            </td>
                            <td class="action" data-title="Action">
                                <div class="">
                                    <button class="btn btn-main">Go</button>
                                </div>
                            </td>
                        </tr>
                        -->
                        {%for voiture in voitures%}
                            <tr>
                                <td class="product-thumb">
                                    <img width="150px" height="auto" src="uploads/photo/{{voiture.photo}}" alt="image description">
                                </td>
                                <td class="product-item product-details">
                                    <h3 class="title text-center">{{voiture.nom}}</h3>
                                    <span class="add-id"><strong>Marque:</strong>{{voiture.marque}}</span>
                                    <span><strong>Modèle:</strong>{{voiture.modele}} </span>
                                    <span><strong>Catégorie</strong>{{voiture.categorie}}</span>
                                    <span><strong>Porte</strong>{{voiture.portes}}</span>
                                    <span><strong>Cote</strong>
                                <div class="stars-details">
                                    <ul class="product-ratings list-inline">
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </span>
                                </td>
                                <td class="" data-title="Action">
                                    <div class="text-center">


                                        <a class="btn btn-main" href=" {{ path("carPage",{id: voiture.id}) }}">Go</a>
                                    </div>
                                </td>
                            </tr>
                        {%endfor%}

                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination text-center">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>


        </div>
    </section>
{% endblock %}
{% block white %}
{% endblock %}