{% extends 'layoutAdmin.html.twig' %}

    {% block bggray %}
    <section class="popular-deals section bg-gray">
    <div class="container">
        <h1 class="text-center">Bienvenu sur le menu admin</h1>
        <div class="card w-50 mx-auto">
            <div class="row card-body">
                <div class="col">
                    <div class="form-group col-lg-12 text-center"><a href="{{ path("utilisateurs")}}" class="btn btn-main">Afficher les utilisateurs</a></div>
                    <div class="form-group col-lg-12 text-center"><a href="{{ path("voitures")}}" class="btn btn-main">Afficher les voiture</a></div>
                    <div class="form-group col-lg-12 text-center"><a href="{{ path("modeles")}}" class="btn btn-main">Afficher les modèles</a></div>
                    <div class="form-group col-lg-12 text-center"><a href="{{ path("marques")}}" class="btn btn-main">Afficher les marques</a></div>
                    <div class="form-group col-lg-12 text-center"><a href="{{ path("categories")}}" class="btn btn-main">Afficher les catégories</a></div>
                    <div class="form-group col-lg-12 text-center"><a href="{{ path("commentaires")}}" class="btn btn-main">Liste des commentaires</a></div>
                </div>  
            </div>
        </div>
    </div>
    </section>
    {%endblock%}