{% extends 'layoutAdmin.html.twig' %}

    {% block bggray %}
        <h1>Liste des voitures </h1>
        <a href="{{ path("addcars")}}" class="btn btn-main">Ajouter une voiture</a>
        <a href="{{ path("adminhome")}}" class="btn btn-warning">Retour menu</a>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Categorie</th>
                <th>marque</th>
                <th>modele</th>
                <th>portes</th>
                <th>ACTIONS</th>
                
            </thead>
            <tbody>
                {%for voiture in voitures%}
                    <tr>
                        <td>{{voiture.id}}</td>
                        <td>{{voiture.nom}}</td>
                        <td><img width="150px" height="auto" src="../uploads/photo/{{voiture.photo}}" alt="image description"></td>
                        <td>{{voiture.categorie.nom}}</td>
                        <td>{{voiture.marque.nom}}</td>
                        <td>{{voiture.modele.nom}}</td>
                        <td>{{voiture.portes}}</td>
                        <td><a href="{{ path("editcars",{id: voiture.id})}}" class="btn btn-warning">Modifier</a>
                            
                            <form method="post" action="{{ path("deletecars",{id: voiture.id})}}">
                                
                                <button  class="btn btn-danger">Supprimer</button>
                            </form></td>
                    </tr>
                {%endfor%}
            </tbody>    
        </table>
    {%endblock%}