{% extends 'layoutAdmin.html.twig' %}
     {% block bggray %}
   <section class="popular-deals section bg-gray">
    <div class="container">
        <h1 class="text-center">Ajouter une categorie</h1>
        <div class="card w-50 mx-auto">
            <div class="row card-body">
                <div class="col">
                  <div>
                      
                        {{form_start(form)}}
                               {{form_row(form.nom, {'attr': {'class': 'form-control'}})}}
                               
                               {{form_row(form.submit, {'attr': {'class': 'btn btn-primary float-left'}})}}
                        {{form_end(form)}}
                   <div>
                       
                   </div>

                  </div>
                </div>  
                   
            </div>
                   <a class="btn btn-main mt-4" href="{{ path('categories') }}">Retour liste categorie</a>
        </div>
                 
    </div>
    </section>
        
        {%endblock%}