{% extends 'layoutAdmin.html.twig' %}

    {% block bggray %}
        <h1>Liste des categories</h1>
        <a href="{{ path("categorieadd")}}" class="btn btn-main">Ajouter une Categorie</a>
        <a href="{{ path("adminhome")}}" class="btn btn-warning">Retour menu</a>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>NOM</th>
                
            </thead>
            <tbody>
                {%for categorie in categories%}
                    <tr>
                        <td>{{categorie.id}}</td>
                        <td>{{categorie.nom}}</td>
                   
                    </tr>
                {%endfor%}
            </tbody>    
        </table>
    {%endblock%}