{% extends 'layoutAdmin.html.twig' %}

    {% block bggray %}
        <h1>Liste utilisateurs</h1>
        <a href="{{ path("adminhome")}}" class="btn btn-warning">Retour menu</a>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Username</th>
                <th>commentaire</th>
                <th>Point positif</th>
                <th>Point positif</th>
                <th>cote</th>
                <th>signalement</th>
                <th>ACTIONS</th>
                
            </thead>
            <tbody>
                {%for commentaire in commentaires%}
                    <tr>
                        <td>{{commentaire.id}}</td>
                        <td>{{commentaire.user.username}}</td>
                        <td>{{commentaire.commentaire}}</td>
                        <td>{{commentaire.pointPositif}}</td>
                        <td>{{commentaire.pointNegatif}}</td>
                        <td>{{commentaire.cote}}</td>
                        <td>{{commentaire.signalement}}</td>
                        <td>
                            <form method="post" action="{{ path("deletecommentaire",{id: commentaire.id})}}">
                                
                                    <button  class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                        
                        
                        
                    </tr>
                {%endfor%}
            </tbody>    
        </table>
    {%endblock%}