{% extends 'layoutAdmin.html.twig' %}

    {% block bggray %}
        <h1>Liste des marques</h1>
        <a href="{{ path("marqueadd")}}" class="btn btn-main">Ajouter une Marque</a>
        <a href="{{ path("adminhome")}}" class="btn btn-warning">Retour menu</a>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>NOM</th>
                
            </thead>
            <tbody>
                {%for marque in marques%}
                    <tr>
                        <td>{{marque.id}}</td>
                        <td>{{marque.nom}}</td>
                   
                    </tr>
                {%endfor%}
            </tbody>    
        </table>
    {%endblock%}
