{% extends 'layoutAdmin.html.twig' %}

    {% block bggray %}
        <h1>Liste des modèles</h1>
        <a href="{{ path("modeleadd")}}" class="btn btn-main">Ajouter un Modele</a>
        <a href="{{ path("adminhome")}}" class="btn btn-warning">Retour menu</a>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>NOM</th>
                
            </thead>
            <tbody>
                {%for modele in modeles%}
                    <tr>
                        <td>{{modele.id}}</td>
                        <td>{{modele.nom}}</td>
                   
                    </tr>
                {%endfor%}
            </tbody>    
        </table>
    {%endblock%}