{% extends 'layoutAdmin.html.twig' %}

    {% block bggray %}
      
    <section class="popular-deals section bg-gray">
    <div class="container">
        <h1 class="text-center">Modifier utilisateur</h1>
        <div class="card w-50 mx-auto">
            <div class="row card-body">
                <div class="col">
                  <div>
                      
                        {{form_start(user)}}
                               {{form_row(user.nom, {'attr': {'class': 'form-control'}})}}
                               {{form_row(user.prenom, {'attr': {'class': 'form-control'}})}}
                               {{form_row(user.username, {'attr': {'class': 'form-control'}})}}
                               {{form_row(user.roles, {'attr': {'class': 'form-control'}})}}
                               {{form_row(user.email, {'attr': {'class': 'form-control'}})}}
                               {{form_row(user.submit, {'attr': {'class': 'btn btn-primary float-left'}})}}
                        {{form_end(user)}}
                   <div>
                       
                   </div>

                  </div>
                </div>  
                   
            </div>
                   <a class="btn btn-main mt-4" href="{{ path('utilisateurs') }}">Retour liste utilisateurs</a>
        </div>
                 
    </div>
    </section>
        
    {%endblock%}
