{% extends 'layoutAdmin.html.twig' %}

    {% block bggray %}
        <h1>Liste utilisateurs</h1>
        <a href="{{ path("adminhome")}}" class="btn btn-warning">Retour menu</a>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>EMAIL</th>
                <th>USERNAME</th>
                <th>NOM</th>
                <th>PRENOM</th>
                <th>Commentaire</th>
                <th>Roles</th>
                <th>ACTIONS</th>
                
            </thead>
            <tbody>
                {%for user in users%}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.nom}}</td>
                        <td>{{user.prenom}}</td>
                        <td>{{user.commentaire|length}}</td>
                        <td>{%for role in user.roles%}
                            {{role}}
                            {%endfor%}
                        </td>
                        {% if user.roles|length > 1 %}
                            
                         {%else%}
                             <td><a href="{{ path("utilisateuredit",{id: user.id})}}" class="btn btn-warning">Modifier</a>
                              <form method="post" action="{{ path("userdelete",{id: user.id})}}">
                                
                                    <button  class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                        {% endif%}
                        
                    </tr>
                {%endfor%}
            </tbody>    
        </table>
    {%endblock%}
