{% extends 'layoutAdmin.html.twig' %}
     {% block bggray %}
   <section class="popular-deals section bg-gray">
    <div class="container">
        <h1 class="text-center">Ajouter une voiture</h1>
        <div class="card w-50 mx-auto">
            <div class="row card-body">
                <div class="col">
                  <div>
                      
                        {{form_start(form)}}
                               {{form_row(form.nom, {'attr': {'class': 'form-control'}})}}
                               {{form_row(form.categorie, {'attr': {'class': 'form-control'}})}}
                               {{form_row(form.modele, {'attr': {'class': 'form-control'}})}}
                               {{form_row(form.marque, {'attr': {'class': 'form-control'}})}}
                               {{form_row(form.portes, {'attr': {'class': 'form-control'}})}}
                               {{form_row(form.photo)}}
                               {{form_row(form.submit, {'attr': {'class': 'btn btn-primary float-left'}})}}
                        {{form_end(form)}}
                   <div>
                       
                   </div>

                  </div>
                </div>  
                   
            </div>
                   <a class="btn btn-main mt-4" href="{{ path('voitures') }}">Retour liste voitures</a>
        </div>
                 
    </div>
    </section>
        
        {%endblock%}