{% extends 'layoutAdmin.html.twig' %}
     {% block bggray %}
        <h1>Liste des voitures</h1>
        {{form_start(form)}}
               {{form_row(form.nom, {'attr': {'class': 'form-control'}})}}
               {{form_row(form.categorie, {'attr': {'class': 'form-control'}})}}
               {{form_row(form.modele, {'attr': {'class': 'form-control'}})}}
               {{form_row(form.marque, {'attr': {'class': 'form-control'}})}}
               {{form_row(form.portes, {'attr': {'class': 'form-control'}})}}
               
               {{form_row(form.submit, {'attr': {'class': 'btn btn-primary float-left'}})}}
        {{form_end(form)}}
     {%endblock%}