{# empty Twig template #}
                                        <ul class="list-inline">
                                            {% if commentaire.cote == 0 %}
                                                {% for commentaire in 0..4 %}
                                                    <li class="list-inline-item "><i class="fa fa-star"></i></li>
                                                {%endfor%}


                                            {% elseif commentaire.cote == 1 %}
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                {% for commentaire in 0..3 %}
                                                    <li class="list-inline-item "><i class="fa fa-star"></i></li>
                                                {%endfor%}
                                            {% elseif commentaire.cote == 2 %}
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                {% for commentaire in 0..2 %}
                                                    <li class="list-inline-item "><i class="fa fa-star"></i></li>
                                                {%endfor%}
                                            {% elseif commentaire.cote == 3 %}
                                                {% for commentaire in 0..2 %}
                                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                {%endfor%}
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            {% elseif commentaire.cote == 4 %}
                                                {% for commentaire in 0..3 %}
                                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                {%endfor%}
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>

                                            {% else %}
                                                {% for commentaire in 0..4 %}
                                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                {%endfor%}
                                            {% endif %}

                                        </ul>