<div class="advance-search">
    <!--
    <form action="#">
        <div class="row">
           
            <div class="col-lg-2 col-md-12">
                <div class="block d-flex">
                    <select class="custom-select">
                        <option selected>Catégorie</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-12">
                <div class="block d-flex">
                    <select class="custom-select">
                        <option selected>Marque</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-12">
                <div class="block d-flex">
                    <select class="custom-select">
                        <option selected>Modèle</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-12">
                <div class="block d-flex">
                    <select class="custom-select">
                        <option selected>Portes</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    
                </div>
            </div>
            <div class="col-lg-2 col-md-12 bt-5">
                <div class="block d-flex">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search-advance" placeholder="Search...">
                </div>
            </div>
            <div class="col-lg-2 col-md-12 bt-5">
                <div class="block d-flex">

                    
                    <a class="btn btn-main btn-block mb-1" href="{{ path("search") }}">Valider</a>
                </div>
            </div>

        </div>
               
    </form>
    -->
                {{form_start(form)}}
                <div class="row">
                    <div class="col-lg-2 col-md-12"><div class="block d-flex">{{form_row(form.marque, {'attr': {'class': 'custom-select'}})}}</div></div>
                    <div class="col-lg-2 col-md-12"><div class="block d-flex">{{form_row(form.modele, {'attr': {'class': 'custom-select'}})}}</div></div>
                   <div class="col-lg-2 col-md-12 "><div class="block d-flex">{{form_row(form.categorie, {'attr': {'class': 'custom-select'}})}}</div></div>
                   <div class="col-lg-2 col-md-12"><div class="block d-flex">{{form_row(form.portes, {'attr': {'class': 'custom-select'}})}}</div></div>
                   <div  class="col-lg-2 col-md-12 bt-5"><div class="block d-flex">{{form_row(form.q, {'attr': {'class': 'form-control mb-2 mr-sm-2 mb-sm-0'}})}}</div></div>
                  <!--
                   <div class="col-lg-2 col-md-12 bt-5">
                <div class="block d-flex">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search-advance" placeholder="Search...">
                </div>
                 </div>
                  -->
                   <div  class="col-lg-2 col-md-12 bt-5"><div class="block d-flex">{{form_row(form.submit, {'label' : 'Valider','attr': {'class': 'btn btn-main btnw-150 mb-1'}})}}</div></div>

                   <!--
                <div class="col-lg-2 col-md-12 bt-5">
                    <div class="block d-flex">
                        <a class="btn btn-main btn-block mb-1" href="{{ path("search",{marque: form.marque})}}">Valider</a>
                    </div>
                </div>
                </div>
                   -->

                </div>
                {{form_end(form)}}