<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="body-wrapper">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
