{% block stylesheets %}
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calssimax</title>

    <!-- PLUGINS CSS STYLE -->
   
    <link href= {{ asset('assets/plugins/jquery-ui/jquery-ui.min.css') }} rel="stylesheet">
    <!-- Bootstrap -->
    <link href={{ asset('assets/plugins/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet">
    <!-- Font Awesome -->
    <link href={{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }} rel="stylesheet">
    <!-- Owl Carousel -->
    <link href={{ asset('assets/plugins/slick-carousel/slick/slick.css') }} rel="stylesheet">
    <link href={{ asset('plugins/slick-carousel/slick/slick-theme.css') }} rel="stylesheet">
    <!-- Fancy Box -->
    <link href={{ asset('assets/plugins/fancybox/jquery.fancybox.pack.css') }} rel="stylesheet">
    <link href={{ asset('assets/plugins/jquery-nice-select/css/nice-select.css') }} rel="stylesheet">
    <link href={{ asset('assets/plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css') }} rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link href={{ asset('assets/css/style.css') }} rel="stylesheet">

    <!-- FAVICON -->
    <link href={{ asset('assets/img/favicon.png') }} rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock%}
{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg  navigation">
                        <a class="navbar-brand" href="{{ path("home") }}">
                            <img src={{ asset('assets/images/logo-marcicars.png') }} alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
<!--
                        <form class="col-xl-10" action="{{ path("search") }}">
                            <div class="row">


                                <div class="col-xl-12">
                                    <div class="block d-flex">
                                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="Search...">

                                        <button class="btn btn-main">Recherche</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        -->
                        


                        <ul class="navbar-nav ml-auto mt-10">
                            {%if not app.user%}
                            <li class="nav-item">
                                <a class="nav-link login-button" href="{{ path("security_login") }}">Login</a>
                            </li>
                            {%else%}
                            <li class="nav-item">
                                <a class="nav-link login-button" href="{{ path("security_logout") }}">Déconnexion</a>
                            </li>
                            {%endif%}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>


<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
    {% block heroareacontent %}{% endblock %}
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->
{% block bggray %}{% endblock %}

{% block white %}{% endblock %}




<!--============================
=            Footer            =
=============================-->

<footer class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
                <!-- About -->
                <div class="block about">
                    <!-- footer logo -->
                    <img src= {{ asset('assets/images/logo-marcicars-footer.png') }} alt="">
                    <!-- description -->
                </div>
            </div>

            <
            <!-- Promotion -->
        </div>
    </div>
    <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12">
                <!-- Copyright -->
                <div class="copyright">
                    <p>Copyright © 2019. All Rights Reserved</p>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <!-- Social Icons -->
            </div>
        </div>
    </div>
    <!-- Container End -->
    <!-- To Top -->
    <div class="top-to">
        <a id="top" class="" href=""><i class="fa fa-angle-up"></i></a>
    </div>
</footer>
{% endblock %}
{% block javascripts %}
<!-- JAVASCRIPTS -->
<script src={{ asset('assets/plugins/jquery/jquery.min.js') }}></script>
<script src={{ asset('assets/plugins/jquery-ui/jquery-ui.min.js') }}></script>
<script src={{ asset('assets/plugins/tether/js/tether.min.js') }}></script>
<script src={{ asset('assets/plugins/raty/jquery.raty-fa.js') }}></script>
<script src={{ asset('assets/plugins/bootstrap/dist/js/popper.min.js') }}></script>
<script src={{ asset('assets/plugins/bootstrap/dist/js/bootstrap.min.js') }}></script>
<script src={{ asset('assets/plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js') }}></script>
<script src={{ asset('assets/plugins/slick-carousel/slick/slick.min.js') }}></script>
<script src={{ asset('assets/plugins/jquery-nice-select/js/jquery.nice-select.min.js') }}></script>
<script src{{ asset('assets/plugins/fancybox/jquery.fancybox.pack.js') }}></script>
<script src={{ asset('assets/plugins/smoothscroll/SmoothScroll.min.js') }}></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src={{ asset('assets/js/scripts.js') }}></script>
{% endblock %}